<%- include("partials/header") %>

<div class="container">
      <div class="row justify-content-center">
            <div class="col-12-lg">
                  <h1>Blog post overview</h1>
            </div>
      </div>
      <div class="row justify-content-center">
            <div class="col-12-lg">
                  <a href="/posts/new" class="btn btn-success">Add post</a>
            </div>
      </div>
      <% for(var i = posts.length-1; i >= 0; i--){ %>
            <div class="blog-post">
                  <div class="row">
                        <div>
                              <h2><%= posts[i].title %></h2>
                        </div>
                  </div>
                  <div class="row">
                        <div>
                              <%- posts[i].link %>
                        </div>
                  </div>
                  <div class="row">
                        <div>
                              <%= posts[i].content.substring(0, 100) %>... - <a href="/posts/<%= posts[i]._id %>">Read more</a>
                        </div>
                  </div>
            </div>
      <% } %>
</div>

<%- include("partials/footer") %>