<%- include("../partials/header") %>

<div class="container">
      <% for(var i = 0; i < posts.results.length; i++){ %>
            <div class="post">
                  <div class="content">
                        <h3><%= posts.results[i].title %></h3>
                  </div>
                  <hr>
                  <div class="content">
                        <%- posts.results[i].link %>
                  </div>
                  <hr>
                  <div class="content desc">
                        <% if (posts.results[i].content.length > 100){ %>
                              <%- posts.results[i].content.substring(0, 100) %>...
                        <% } else { %>
                              <%- posts.results[i].content -%>
                       <% } %>
                  </div>
                  <div class="content desc">
                        <a class="show-link" href="/posts/<%= posts.results[i]._id %>">Show post</a>
                  </div>
                  <hr>
                  <div class="content tags">
                        Style: <%- posts.results[i].tags %>
                  </div>
            </div>
      <% } %>
      <div class="d-flex justify-content-center btn-container pb-5">
            <% if(posts.previous){ %>
                  <a href="/posts/?page=<%= posts.previous.page %>&limit=5"><i class="fas fa-caret-left"></i></a>
            <% } %>
            
            <% if(posts.next){ %>
                  <a href="/posts/?page=<%= posts.next.page %>&limit=5"><i class="fas fa-caret-right"></i></a>
            <% } %>
      </div>
</div>


<%- include("../partials/footer") %>