<%- include("../partials/header") %>

<div class="container">
      <% for(var i = 0; i < posts.results.length; i++){ %>
            <div class="post">
                  <div class="content">
                        <h2><%= posts.results[i].title %></h2>
                  </div>
                  <hr>
                  <div class="content">
                        <%- posts.results[i].link %>
                  </div>
                  <hr>
                  <div class="content desc">
                        <% if (posts.results[i].content.length > 100){ %>
                              <%- posts.results[i].content.substring(0, 100) %>...
                        <% } else { %>
                              <%- posts.results[i].content -%>
                       <% } %>
                  </div>
                  <div class="content desc">
                        <a href="/posts/<%= posts.results[i]._id %>">Show post</a>
                  </div>
                  <hr>
                  <div class="content tags">
                        Style: <%- posts.results[i].tags %>
                  </div>
            </div>
      <% } %>
      <div class="d-flex justify-content-around btn-container pb-5">
            <% if(posts.previous){ %>
                  <a class="btn btn-dark btn-sm form-btn" href="/posts/?page=<%= posts.previous.page %>&limit=5">Previous</a>
            <% } %>
            
            <% if(posts.next){ %>
                  <a class="btn btn-dark btn-sm form-btn" href="/posts/?page=<%= posts.next.page %>&limit=5">Next</a>
            <% } %>
      </div>
</div>


<%- include("../partials/footer") %>