<%- include("../partials/header") %>


<div class="container">
      <div class="post">            
            <% if (post.title){ %>
                  <div class="content">
                        <h3><%= post.title %></h3>
                  </div>
                  <hr>
            <% }  %>
            <% if (post.link){ %>
                  <div class="content">
                        <%- post.link %>
                  </div>
                  <hr>
            <% }  %>
            <% if (post.content){ %>
                  <div class="content">
                        <pre class="desc"><%- post.content %></pre>
                  </div>
                  <hr>
            <% }  %>
            <% if (post.tags){ %>
                  <div class="content tags">
                        Style: <%- post.tags %>
                  </div>
            <% }  %>
            <div class="d-flex justify-content-between btn-container">
                  <button class="btn btn-outline-secondary form-btn" onclick="window.history.go(-1);">Back</button>
                  <% if(currentUser){ %>
                        <form action="/posts/<%= post._id %>/edit" method="GET">
                              <button class="btn btn-outline-warning form-btn">Edit</button>
                        </form>
                        <form action="/posts/<%= post._id %>?_method=DELETE" method="POST">
                              <button class="btn btn-outline-danger form-btn" onclick="return confirm('Are you sure you want to delete this post?');">Delete</button>
                        </form>
                  <% } %>
            </div>
      </div>
</div>

<%- include("../partials/footer") %>